body{ 
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Calibri';	
	/*background: #222222;*/	/*  Цвет фона  */
	color: gray;
	/*overflow: hidden;*/ /*отсутвует полоса прокрутки */
}

#mainContainer{
	background: grey;
/*	border: 6px solid red;*/
	/*================Закругление изображения======================*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*=============================================================*/
	 width: 100%
}

#logoName a{
	text-decoration: none;
	color: white;
	font-size: 30px;
	}

#slogan{
	color: white;
	font-family: Monotype Corsiva;
	/*text-align:center; */
	margin-right: 10px;
	font-size: 25px;
}

a{
	text-decoration: none;
}

.menu ul, li{	
	color: white;
	align: right;	
	position: relative;	
	display:inline;	
}

.menu a{
	text-decoration: none;
	color: white;
	background: orange;
	font-size: 20px;
	font-weight: bold;
}
.menu a:hover{
	text-decoration: none;
	color: orange;
	background: white;
	font-weight: bold;
}

.selected {									/*Параметры выделенного элемента меню*/
	color: orange !important;		/*Цвет текста в элементе меню*/
	background: white !important;	/*Цвет выделения элемента меню*/
}

/* Фотографии */

#gallery img {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
	border: 5px solid white;
	border-width: 5px 5px 20px;
width: 60px;
	height: auto;
}

#content{ 
	height: 450px; 
	border:1px solid white;
	margin-bottom:20px; 
	/*================Закругление изображения======================*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*=============================================================*/
	/*margin-left:10%;*/
	/*margin-right:10%*/
	background: url(background.jpg);
}
/*===========закругляет первый элемент меню=======================================*/
.forFirstMenu{

	-moz-border-radius: 10px 0px 0px 10px !important;
    -webkit-border-radius: 10px 0px 0px 10px !important;
    border-radius: 10px 0px 0px 10px !important; 
    -khtml-border-radius: 10px 0px 0px 10px !important; 
} 
/*===============================================================================*/

#buttonSlideShow a{
	text-decoration: none;
	color: white;
	background: orange;
	font-size: 20px;
	font-weight:bold;
	/*top: -20px;*/
	/*================Закругление изображения======================*/
	-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px; /* future proofing */
    -khtml-border-radius: 10px 0px 0px 10px; /* for old Konqueror browsers */
	/*=============================================================*/
	cursor: pointer;
}

#buttonSlideShow a:hover{
	text-decoration: none;
	color: orange;
	background: white;
}
	

#gallery {	color: #fff;
	/*background-color: #444;*/
	padding: 10px;
	/*height: 900px !important;*/
}


#gallery img {
	border: 5px solid white;
	border-width: 5px 5px 20px;
}

#gallery  a:hover img {
	border: 5px solid orange;
	border-width: 5px 5px 20px;
	color: #fff;
}

/*#gallery a:hover { color: #fff; }*/
/*================================================================*/

#footer{
	color: white;
	font-family: Monotype Corsiva;
	/*text-align:center; */
	margin-right: 10px;
	font-size: 25px;
}

#kv1{ 
 width:60px;
 height:65px; 
 float:left; 
 background:YellowGreen;
  margin:20px; 
  color:white;
  font-family: 'Calibri';	
    display:none;
}  
#kv2{ 
width:60px;
 height:75px; 
 float:left; 
 background:YellowGreen;
  margin:20px; 
  color:white;
  display:none;
} 
#kv3{ 
width:60px;
 height:95px; 
 float:left; 
 background:YellowGreen;
  margin:20px; 
  color:white;
  display:none;
} 



.active{
	color: rgb(190,0,0) !important;
	background: rgb(190,0,0) !important; /*Цвет активного элемента управления*/
}

