body{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Calibri';	
	background: #222222;	/*  Цвет фона  */
	/*color: gray;*/
	/*overflow: hidden;*/ /*отсутвует полоса прокрутки */
}

#mainContainer{
	background: #222222;
	width: 100%;
}

#logoName a{
	text-decoration: none;
	color: white;
	font-size: 30px;
	}

#slogan{
	color: white;
	font-family: Monotype Corsiva;
	/*text-align:center; */
	margint: 100px;
	font-size: 25px;
}

a{
	text-decoration: none;
}

.menu a{
	text-decoration: none;
	color: white;
	background: orange;
	font-size: 20px;
	font-weight: bold;
}
.menu a:hover{
	text-decoration: none;
	color: orange;
	background: white;
	font-weight: bold;
}

.selected {									/*Параметры выделенного элемента меню*/
	color: orange !important;		/*Цвет текста в элементе меню*/
	background: white !important;	/*Цвет выделения элемента меню*/
}

/* Фотографии */

#gallery img {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9);
	border: 5px solid white;
	border-width: 5px 5px 20px;
	width: 90px;
	height: auto;
	position:absolute;
	z-index: 1;
}

#gallery  a:hover img {
	border: 5px solid /*orange*/;
	border-color: orange !important;
	border-width: 5px 5px 20px;
	color: #fff;
}

#content{ 
	height: 450px; 
	
	margin-bottom:20px; 
	/*================Закругление изображения======================*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*=============================================================*/
	/*margin-left:10%;*/
	/*margin-right:10%*/
	background: #222222;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
/*===========закругляет первый элемент меню=======================================*/
.forFirstMenu{

	-moz-border-radius: 10px 0px 0px 10px !important;
    -webkit-border-radius: 10px 0px 0px 10px !important;
    border-radius: 10px 0px 0px 10px !important; 
    -khtml-border-radius: 10px 0px 0px 10px !important; 
} 
/*===============================================================================*/

#buttonSlideShow a{
	text-decoration: none;
	color: white;
	background: orange;
	font-size: 20px;
	font-weight:bold;
	/*top: -20px;*/
	/*================Закругление изображения======================*/
	/*-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px; /* future proofing */
    -khtml-border-radius: 10px 0px 0px 10px;*/ /* for old Konqueror browsers */
	/*=============================================================*/
	cursor: pointer;
	position: absolute;
/*	margin-top:-20px;*/
	margin-top:-10px;
	margin-left:-120px; /* ... переделать по-другому?*/
}

#buttonSlideShow a:hover{
	text-decoration: none;
	color: orange;
	background: white;
	cursor: pointer;
}
	
#buttonRotate a{
	text-decoration: none;
	color: white;
	background: orange;
	font-size: 20px;
	font-weight:bold;
	/*top: -20px;*/
	/*================Закругление изображения======================*/
	-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px; /* future proofing */
    -khtml-border-radius: 10px 0px 0px 10px; /* for old Konqueror browsers */
	/*=============================================================*/
	cursor: pointer;
	position: absolute;
/*	margin-top:-20px;*/
	margin-top:-10px;
	margin-left:-225px; /* ... переделать по-другому?*/
}

#buttonRotate a:hover{
	text-decoration: none;
	color: orange;
	background: white;
	cursor: pointer;
}

#gallery {	
	color: #fff;
	/*background-color: #444;*/
	padding: 10px;
	/*height: 900px !important;*/
	position:relative;
}

.textForGallery{
/*ЗАПРЕЩАЕТ ПОЛЬЗОВАТЕЛЮ ВЫДЕЛЯТЬ ТЕКСТ*/
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;  
/*=======================================*/
	z-index: 0;
	font-size: 100px;
	font-weight: bold;
	color: #333;	
	position: absolute;
	cursor: default;
}
/*================================================================*/

#footer{
	color: white;
	font-family: Monotype Corsiva;
	/*text-align:center; */
	margin-right: 10px;
	font-size: 25px;
}


.active{
	color: rgb(190,0,0) !important;
	background: rgb(190,0,0) !important; /*Цвет активного элемента управления*/
}
