<?xml version="1.0" encoding="windows-1251"?>
<viewer>
<!--  Первый в списке альбом отображается при загрузке страницы. Не отображается в меню -->
	<album name="flowers" path="photos/flowers/" >	
		<img src="001.jpg" />
		<img src="002.jpg" />
		<img src="003.jpg" />
		<img src="004.jpg" />
		<img src="005.jpg" />
		<img src="006.jpg" />
		<img src="007.jpg" />			
		<img src="008.jpg" />			
		<img src="009.jpg" />			
		<img src="010.jpg" />			
		<img src="011.jpg" />			
		<img src="012.jpg" />																		
	</album>	 
	<album name="plants" path="photos/plants/" >
		<img src="pl_001.jpg" />
		<img src="pl_002.jpg" />
		<img src="pl_003.jpg" />
		<img src="pl_004.jpg" />
	</album>	 
	<album name="trees" path="photos/trees/" >
		<img src="tree_001.jpg" />
		<img src="tree_002.jpg" />
		<img src="tree_003.jpg" />
	</album>
	<album name="animals" path="photos/animals/" >
		<img src="an_001.jpg" />
		<img src="an_002.jpg" />
		<img src="an_003.jpg" />
	</album>
</viewer>
